<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Пользователи департамента</title>
</head>
<body>
    <h1>Пользователи департамента с ID: <span th:text="${departmentId}"></span></h1>

    <table>
        <thead>
            <tr>
                <th>№ Timesheet</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="userDepartment : ${users}">
                <td th:text="${userDepartment.user.timesheet}"></td>
            </tr>
        </tbody>
    </table>

    <br>
    <a th:href="@{/user-departments/add}">Добавить департамент</a>
    <br>
    <a th:href="@{/user-departments/remove}">Удалить департамент</a>
</body>
</html>
