<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Департаменты</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container">
    <h1>Поиск отделений</h1>

    <form th:action="@{/departments/get}" method="post">
        <label for="timesheet">Введите табельный номер:</label>
        <input type="number" id="timesheet" name="timesheet" required>
        <button type="submit">Найти</button>
    </form>

    <div class="results" th:if="${departments != null}">
        <h2>Результаты:</h2>
        <ul>
            <li th:each="dept : ${departments}">
                <span th:text="'Отделение: ' + ${dept.department} + ', Пользователь: ' + ${dept.user.username} + '-' + ${dept.user.timeSheet}"></span>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
