<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Добавить присутствие</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container">
    <h1>Добавить присутствие</h1>
    <form th:action="@{/presences/add-form}" method="post">
        <label for="timeSheet">Табельный номер:</label>
        <input type="number" name="timeSheet" id="timeSheet" required>

        <label for="timeMark">Дата и время:</label>
        <input type="datetime-local" name="timeMark" id="timeMark" required>

        <button type="submit">Сохранить</button>
    </form>

    <div th:if="${message}" th:text="${message}" th:classappend="${success} ? 'message success' : 'message error'"></div>
</div>
</body>
</html>
