<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Поиск пользователя</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container">
    <h2>Поиск пользователя</h2>
    <form th:action="@{/users/search-result}" method="get">
        <label>Введите табельный номер:</label>
        <label>
            <input type="number" name="timeSheet" required/>
        </label>
        <button type="submit">Найти</button>
    </form>

    <div class="result" th:if="${user}">
        <p><strong>Имя:</strong> <span th:text="${user.username}"></span></p>
        <p><strong>Табельный номер:</strong> <span th:text="${user.timeSheet}"></span></p>
    </div>

    <div class="message" th:if="${errorMessage}">
        <p th:text="${errorMessage}"></p>
    </div>
</div>
</body>
</html>
