<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Департаменты пользователя</title>
</head>
<body>
<h1>Департаменты пользователя с timesheet: <span th:text="${timesheet}"></span></h1>

<table>
    <thead>
    <tr>
        <th>№ Департамента</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="userDepartment : ${departments}">
        <td th:text="${userDepartment.department.id}"></td>
    </tr>
    </tbody>
</table>

<br>
<a th:href="@{/user-departments/add}">Добавить департамент</a>
<br>
<a th:href="@{/user-departments/remove}">Удалить департамент</a>
</body>
</html>
