<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавление пользователя</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container">
    <h2>Добавить нового пользователя</h2>
    <form th:action="@{/users/add}" method="post">
        <label>Имя пользователя:</label>
        <label>
            <input type="text" name="username" required/>
        </label>
        <label>Табельный номер:</label>
        <label>
            <input type="number" name="timeSheet" required/>
        </label>
        <button type="submit">Добавить</button>
    </form>
    <div class="message" th:if="${message}" th:text="${message}"></div>
</div>
</body>
</html>
