<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Управление пользователями</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container">
    <h2>Управление пользователями</h2>
    <a class="button" th:href="@{/users/add-form}">Добавить пользователя</a>
    <a class="button" th:href="@{/users/search}">Найти пользователя</a>
    <a class="button" th:href="@{/users/update-form}">Обновить пользователя</a>
    <a class="button" th:href="@{/users/delete-form}">Удалить пользователя</a>
    <a class="button" th:href="@{/users/all}">Список всех пользователей</a>
</div>
</body>
</html>
