<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Обновление пользователя</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container">
    <h2>Обновить пользователя</h2>
    <form th:action="@{/users/update}" method="post">
        <label>Табельный номер (по которому ищем):</label>
        <label>
            <input type="number" name="timeSheet" required/>
        </label>

        <label>Новое имя пользователя:</label>
        <label>
            <input type="text" name="username" required/>
        </label>

        <label>Новая роль:</label>
        <label>
            <select name="role" required>
                <option value="ADMIN">ADMIN</option>
                <option value="MANAGER">MANAGER</option>
                <option value="USER">USER</option>
            </select>
        </label>

        <button type="submit">Обновить</button>
    </form>
    <div class="message" th:if="${message}" th:text="${message}"></div>
</div>
</body>
</html>
